In [1]:
import sqlite3 as sql
import pandas as pd

In [2]:
conn = sql.connect('chinook.db')

In [13]:
data = pd.read_sql_query("SELECT a.Name, (COUNT(t.Name)*t.UnitPrice) AS Songs FROM Artist a JOIN Album b ON a.ArtistId = b.ArtistId JOIN Track t ON t.AlbumId = b.AlbumId JOIN InvoiceLine l ON l.TrackId = t.TrackId GROUP BY a.Name ORDER BY Songs DESC", conn)
data

                                                  Name   Songs
0                                          Iron Maiden  138.60
1                                                   U2  105.93
2                                            Metallica   90.09
3                                         Led Zeppelin   86.13
4                                                 Lost   81.59
..                                                 ...     ...
160             Berliner Philharmoniker & Hans Rosbaud    0.99
161           Antal Doráti & London Symphony Orchestra    0.99
162                     Adrian Leaper & Doreen de Feis    0.99
163  Academy of St. Martin in the Fields, John Birc...    0.99
164  Academy of St. Martin in the Fields & Sir Nevi...    0.99

[165 rows x 2 columns]

In [37]:
data['Ranges'] = pd.cut(data['Milliseconds'],20)
len(data['Ranges'].unique())

10

In [14]:
data.to_excel('chinook7.xlsx', sheet_name = "most money Artists", index = False)

In [27]:
data1 = pd.read_sql_query("SELECT * FROM Customer",conn)

In [15]:
data.to_excel('chinook.xlsx', sheet_name = "Customer", index = False)

In [23]:
writer.close()

IndexError: At least one sheet must be visible

In [30]:
with pd.ExcelWriter("chinook.xlsx") as writer:
    data.to_excel(writer, sheet_name = "Invoice", index = False)
    data1.to_excel(writer, sheet_name = "Customer", index = False)

In [33]:
import matplotlib as plt

In [61]:
data.loc[1]

TypeError: 'Series' object is not callable

In [4]:
df1 = pd.read_sql_query("SELECT Country, max(Purchases)  AS purchases, Name FROM (SELECT c.Country, SUM(l.Quantity) AS Purchases, g.Name  FROM InvoiceLine l JOIN Track t ON t.TrackId = l.TrackId JOIN Genre g ON t.GenreId = g.GenreId JOIN Invoice i ON i.InvoiceId = l.InvoiceId JOIN Customer c ON i.CustomerId = c.CustomerId GROUP BY c.Country,g.Name) sub GROUP BY Country", conn)
df1

           Country  purchases                Name
0        Argentina          9  Alternative & Punk
1        Australia         22                Rock
2          Austria         15                Rock
3          Belgium         21                Rock
4           Brazil         81                Rock
5           Canada        107                Rock
6            Chile          9                Rock
7   Czech Republic         25                Rock
8          Denmark         21                Rock
9          Finland         18                Rock
10          France         65                Rock
11         Germany         62                Rock
12         Hungary         11                Rock
13           India         25                Rock
14         Ireland         12                Rock
15           Italy         18                Rock
16     Netherlands         18                Rock
17          Norway         17                Rock
18          Poland         22                Rock
19        Portugal         31                Rock
20           Spain         22                Rock
21          Sweden         12               Latin
22             USA        157                Rock
23  United Kingdom         37                Rock